:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color:#071e26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color:white;
  background-color: #213547;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.button {
  border-radius: 8px;
  border: 1px solid white;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin:20px;
  color:white;
}
.button:hover {
    color: black;
    background-color: white;
}
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  border-radius: 10px;
  margin:10px;
  border: 1px solid white;
}

.navItem {
  border-radius: 6px;
  margin: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: background 0.2s;
  background-color: black;
  border: none;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  text-align: center;
  color:white;
}

.navItem:hover {
  color: #51abcb;
}

.form{
  display:grid;
  /* align-items: center;
  justify-content: center; */
  background-color: #165a72;
  border-radius:10px;
  border: 1px solid white;
  margin:10px;
}

.formItem{
  /* margin-bottom: 20px; */
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.formItemDS{
  /* margin-bottom: 20px; */
  border-radius: 5px;
  margin-left: 20px;
  width:25%;
}

.boxTitleTarefa{
  border: 1px solid white;
  border-radius: 10px;
}

.titleTarefa{
  margin:10px;
}

.tarefaConcluida{
  background-color: rgb(4, 122, 10);
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
}

.tarefaEmAberto{
  background-color: rgb(87, 9, 3);
  text-shadow: 1px 1px 2px black;
  border-radius: 10px;
}

.listTitle{
  color: #92cbdf;
  text-align: center;
}

.rowTarefa{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.colTarefa{
  margin:10px;
  background-color: #0f3c4c;
  width:30%;
  border-radius: 10px;
  text-align: center;
}

.infoTarefa{
  margin:10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #213547;
  }
  a:hover {
    color: #747bff;
  }
}

@media (max-width: 900px) {
  .colTarefa {
    width: 80%;
    margin: 10px auto;
  }
  .rowTarefa {
    flex-direction: column;
    align-items: center;
  }
  .formItemDS {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .form,
  .colTarefa {
    width: 98%;
    margin: 5px auto;
  }
  .navbar {
    /* flex-direction: column; */
    /* gap: 8px; */
    margin: 2px;
  }
  .navItem {
    margin: 10px;
    font-size: 1em;
  }
  .formItem,
  .formItemDS {
    /* width: 95%; */
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

.tituloLogin{
  text-align: center;
  margin-left:2.5%;
  margin-right:2.5%;
}

.filtrosBox{
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.filtroItem{
  margin: 10px;
  margin-bottom: 25px;
}
